// section {
//     overflow: auto;
// }

.center {
    text-align: center;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #fff;
    text-decoration: none;
  }

// footer {
//     margin-top: 45px;
//     padding-top: 5px;
//     border-top: 1px solid #eaeaea;
//     color: #777;
// }

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    // @include box_sizing
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
  
.users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid #000;
    }
  }

.required:after {
  content: " *";
  color: rgb(214, 51, 51);
}

input.form-check-input {
  height: 1em !important;
}