  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Management System", items_path, id: "logo" %>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
          id="bs-example-navbar-collapse-1">
          <% if logged_in? %>
            <% current_role_id = current_user.role.id %>
            <% role_permissions = RolePermission.where(role_id: current_role_id) %>
            <% role_permissions.each do |role_permission| %>
              <% permission_id = role_permission.permission_id %>
              <% permissions = Permission.where(:id => permission_id) %>
              <% permissions.each do |permission| %>
                <li><%= link_to permission.permission, permission.path %></li>
              <% end%>
            <% end %>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
                <li><%= link_to "Log in", login_path, method: :delete %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>