<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
    <%= link_to "Management System", items_path, id: "logo", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse"
          id="bs-example-navbar-collapse-1">
          <div class="navbar-nav ms-auto">
          <% if logged_in? %>
            <% current_role_id = current_user.role.id %>
            <% role_permissions = RolePermission.where(role_id: current_role_id) %>
            <% role_permissions.each do |role_permission| %>
              <% permission_id = role_permission.permission_id %>
              <% permissions = Permission.where(:id => permission_id) %>
              <% permissions.each do |permission| %>
                <%= link_to permission.permission, permission.path, class: "nav-link" %>
              <% end%>
            <% end %>
            <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
          <% else %>
                <%= link_to "Log in", login_path, class: "nav-link" %>
          <% end %>
          </div>
      </div>
  </div>
</nav>